.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 2rem;
  padding-top: 7rem;
  position: relative;
  z-index: 49;
  background: var(--bg-primary);
}

.text {
  font-size: var(--fs-500);
  font-weight: 400;
  position: relative;
  z-index: 10;
  line-height: 1.7rem;
  max-width: 30rem;
}

.flex {
  display: flex;
}

.highlight {
  color: var(--highlight-clr);
  font-weight: 500;
}

.icon__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.4rem, 3vw));
  gap: 0.3rem;
  margin-top: 1rem;
}

.icon {
  display: flex;
  position: relative;
  justify-content: center;
}

.icon__name {
  position: absolute;
  top: -1.8rem;
  padding: 0.1rem 0.6rem;
  background: var(--text-clr);
  color: var(--bg-primary);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.icon__image {
  width: 100%;
  max-width: 6rem;
}

@media (min-width: 600px) {
  .text {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media (min-width: 1000px) {
  .article {
    flex-direction: row;
    align-items: unset;
  }
}
