.animationSection {
  position: fixed;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.animationBox {
  width: 100%;
  overflow: hidden;
  margin-top: 3.5rem;
  padding: 2rem calc(var(--padding) + 2rem);
  border: var(--inicials-border);

  transition: 150ms ease-out;
  -webkit-transition: 150ms ease-out;
  -moz-transition: 150ms ease-out;
  -ms-transition: 150ms ease-out;
  -o-transition: 150ms ease-out;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 150px;
  transform-style: preserve-3d;
  animation: rotate 10s infinite 2s;
  -webkit-animation: rotate 10s infinite;
}

.wrapper > div {
  position: absolute;
  top: -50px;
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  overflow: hidden;
  text-align: center;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.h1 {
  font-size: var(--fs-850);
  font-weight: 500;
  margin-bottom: 1.8rem;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.05em;
}

.h1::before {
  content: '{';
  margin-right: 1rem;
  color: var(--highlight-clr);
  animation: opacity 2s infinite;
  -webkit-animation: opacity 2s infinite;
}

.h1::after {
  content: '}';
  margin-left: 1rem;
  color: var(--highlight-clr);
  animation: opacity 2s infinite;
  -webkit-animation: opacity 2s infinite;
}

.h2 {
  color: var(--highlight-clr);
  font-size: var(--fs-900);
  font-weight: 300;
}

.front {
  position: relative;
  transform: translateZ(100px);
  display: flex;
  flex-direction: column;
}

.back {
  transform: translateZ(-100px) rotateZ(180deg) rotateY(180deg);
}

.back > p {
  font-size: var(--fs-700);
  font-weight: 400;
}

.right {
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  -ms-transform: rotateX(90deg) translateZ(100px);
  -o-transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.dev {
  margin-top: 2rem;
  font-weight: 400;
  color: white;
  background-image: linear-gradient(
    -225deg,
    var(--highlight-clr) 0%,
    #878787 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 3s textAnimation infinite alternate;
  -webkit-animation: 3s textAnimation infinite;
}

.dev::selection {
  background: transparent;
}

.downArrow {
  position: absolute;
  top: calc(100vh - 250px);
  width: 0;
  height: 50px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
  color: var(--highlight-clr);
  opacity: 0.5;
  cursor: pointer;
}

.downArrow:after {
  content: " ";
  position: absolute;
  top: 32px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
  color: var(--highlight-clr);
}

@media (min-width: 600px) {
  .animationBox {
    left: calc(var(--padding) + 2.5rem);
    width: fit-content;
    top: 6rem;
  }

  .h1 {
    font-size: var(--fs-900);
  }

  .h2 {
    font-size: var(--fs-900);
  }
}

@media (min-width: 1000px) {
  .animationBox {
    margin-top: 6rem;
    /* margin-left: calc(var(--padding) + 2rem); */
    padding: 2rem 3.5rem;
  }

  .wrapper {
    width: 500px;
  }

  .h1 {
    font-size: 3rem;
  }

  .back > p {
    font-size: 3rem;
  }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  .downArrow {
    display: none;
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0);
  }
  10% {
    transform: rotateX(0);
  }
  20% {
    transform: rotateX(0);
  }
  30% {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
  }
  40% {
    transform: rotateX(180deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  70% {
    transform: rotateX(180deg);
  }
  80% {
    transform: rotateX(180deg);
  }
  90% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes textAnimation {
  100% {
    transition: 200ms linear;
    background-position: -200% center;
  }
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}