@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap'); */

:root {
  --bg-s1-dark: #374151;
  --bg-s2-dark: #375146;
  --bg-s3-dark: #404040;

  --text-basic-dark: #CBD5E1;
  --highlight-clr: #f59e0b;
  
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-family: "Roboto Mono", "Roboto Slab", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  position: relative;
  max-height: 100vh;
  width: 100%;
  
}

a {
  color: inherit;
  text-decoration: none;
  padding: .3rem;
  border-bottom: 3px solid transparent;
  transition: 250ms ease-in;
  -webkit-transition: 250ms ease-in;
  -moz-transition: 200ms ease-in;
  -ms-transition: 250ms ease-in;
  -o-transition: 250ms ease-in;
}


.section_selection {
  position: fixed;
  z-index: 100;
  display: flex;
  white-space: nowrap;
  gap: 1.5rem;
  list-style: none;
  color: var(--text-basic-dark);

  /* testing */
  background: rgba(0, 0, 0, 0.605);
  width: 100%;
  justify-content: space-evenly;
  padding: .3rem;

  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-backface-visibility: hidden;
}


.underline {
  /* border-bottom: 3px solid var(--highlight-clr); */

  color: black;
  background: var(--highlight-clr);
  padding: 0.3rem 10%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}


section {
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  color: var(--text-basic-dark);

  padding: 2rem;
}


h2 {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: .7;
}

h1 {
  font-size: 1.8rem;
  font-weight: 500;

  margin-bottom: 2.8rem;
  margin-left: -.2rem;
  text-shadow: -3px 0px 0px rgba(0, 0, 0, 0.31);
}

h1::before {
  content: "[";
  margin-right: .4rem;
  color: var(--highlight-clr);
}

h1::after {
  content: "]";
  margin-left: .4rem;
  color: var(--highlight-clr);
}

.about_para {
  position: relative;
  line-height: 1.2rem;
}

.about_para::before {
  position: absolute;
  left: -2.5rem;
  top: 5px;
}

.basic_info::before {
  content: url(/images/person.svg);
}

.hobbys_info::before {
  content: url(/images/hearth.svg);
}

.highlight {
  color: var(--highlight-clr)
}

.divider {
  width: 80%;
  height: 1px;

  margin: 2.5rem 0;

  background: var(--highlight-clr);
}

.section-1 {
  background: var(--bg-s1-dark);
}

.section-1 > article {
  position: relative;
  top: 10rem;
  padding: 1rem;
  padding-left: 2.8rem;
  -webkit-transform: translateY(-8rem);
  -moz-transform: translateY(-8rem);
  -ms-transform: translateY(-8rem);
  -o-transform: translateY(-8rem);
}

.section-2 {
  background: var(--bg-s2-dark);
}

.section-3 {
  background: var(--bg-s3-dark);

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-content: center;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  width: calc(50% - 10px);
  min-height: 50vw;
  max-width: 50rem;
  max-height: 50rem;
 
  border: 1px solid black;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;

  transition: 400ms ease;
  -webkit-transition: 400ms ease;
  -moz-transition: 400ms ease;
  -ms-transition: 400ms ease;
  -o-transition: 400ms ease;

  cursor: pointer;
}

.projects:hover .overlay {
  backdrop-filter: none;
}

.projects:hover .project_btn {
  display: block;
}

.projects.show-project {
  position: absolute;
  z-index: 50;
  width: 90%;
  /* height: 100vw; */
  align-self: center;
  
  font-size: 150%;


  animation: bounceIn 500ms ease-in-out;
  -webkit-animation: bounceIn 500ms ease-in-out;
}

.projects.show-project .project_name {
  font-size: 110%;
  text-align: center;
}

.projects.show-project .project_bottom_container {
  font-size: 80%;
  padding: 1rem;
}

.projects.show-project .overlay {
  display: none;
}

.project_name {
  font-size: .9rem;
  background: black;
  padding: .4rem;

  position: relative;
  z-index: 10;
}

.project_img {
  width: 100%;
  height: 100%;
}

.project_bottom_container {
  background: black;
  padding: .5rem;

  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: .65rem;
}

.project_info {
  max-width: 75%;
  display: block;
}

.project_links_container {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding-top: 1rem;
  border-top: 1px solid white;
}

.project_links_container > a {
  text-decoration: underline;
}

.link_ico {
  vertical-align: middle;
  margin-right: .5rem;
  width: 1.1rem;
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000008a;
  z-index: 1;
  backdrop-filter: blur(2px) brightness(0.4);

  transition: 250ms ease;
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -ms-transition: 250ms ease;
  -o-transition: 250ms ease;

  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.show-test {
  position: absolute;
  z-index: 50;
  width: 90%;
  /*height: 100vw;*/
  align-self: center;
  font-size: 150%;
  transition: 150ms ;
  -webkit-transition: 150ms ;
  -moz-transition: 150ms ;
  -ms-transition: 150ms ;
  -o-transition: 150ms ;
}


 /* BOTTOM */
.socials {
  position: fixed;
  z-index: 100;
  display: flex;
  bottom: 1rem;
  right: -3rem;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.socials_icon {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  transition: 250ms ease-in-out;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -ms-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  opacity: .6;
  cursor: pointer;
}

.socials_icon:hover {
  filter: drop-shadow(1px 1px 3px rgba(177, 177, 177, 0.632));
  -webkit-filter: drop-shadow(1px 1px 3px rgba(177, 177, 177, 0.632));
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  opacity: 1;
}

.confirmation_box {
  position: absolute;
  font-size: .6rem;
  top: -1rem;
  left: -2rem;
  color: var(--text-basic-dark);
}




/* MISC */

.typewriter {
  width: max-content;
  margin-bottom: 3rem;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; 
  /* Adjust as needed */
  animation: 
    typing 650ms steps(150, end)
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
} */

@keyframes bounceIn {
  0% { 
    opacity: 0; 
    transform: scale(.3);
 }
 50% { 
    opacity: 1;
    transform: scale(1.05);
 }
 70% {
    transform: scale(.9);
 }
 100% {
    transform: scale(1);
 }
}