@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

:root {
  --bg-primary: #25272b;
  --bg-image: url("/images/dark.svg");
  --text-clr: #CBD5E1;
  --highlight-clr: #f59e0b;
  --fs-400: .875rem;
  --fs-500: 1rem;
  --fs-600: 1.125rem;
  --fs-700: 1.5rem;
  --fs-800: 1.875rem;
  --fs-850: 2rem;
  --fs-900: 2.5rem;
  --padding: 2rem;
  --ico-margin: 1rem;
  --inicials-border: 3px solid var(--highlight-clr);
  --transition: 250ms ease-in-out
}



*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: background var(--transition);
  -webkit-transition: background var(--transition);
  -moz-transition: background var(--transition);
  -ms-transition: background var(--transition);
  -o-transition: background var(--transition);

}

:root {
  font-family: "Roboto Mono", "Roboto Slab", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  color: var(--text-clr);
  background: var(--bg-primary);
}
main {
  background-color: #25272B;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
}

article {
  padding: 1rem;
}

.wave {
  height: 100px;
  position: relative;
}

.section_trans_primary {
  position: absolute;
  bottom: -60px;
  height: 60px;
  width: 100%;
  fill: var(--highlight-clr);

  transition: fill var(--transition);
  -webkit-transition: fill var(--transition);
  -moz-transition: fill var(--transition);
  -ms-transition: fill var(--transition);
  -o-transition: fill var(--transition);

  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.section_trans_secondary {
  position: absolute;
  bottom: 0px;
  height: 80px;
  width: 100%;
  fill: var(--highlight-clr);
  
  transition: fill var(--transition);
  -webkit-transition: fill var(--transition);
  -moz-transition: fill var(--transition);
  -ms-transition: fill var(--transition);
  -o-transition: fill var(--transition);

}

/* NAVBAR */

nav {
  position: fixed;
  z-index: 100;
  width: 100%;

  display: flex;
  justify-content: space-between;
  white-space: nowrap;

  list-style: none;
  color: var(--text-clr);
  padding: .5rem 1rem;

  left: 50%;
  top: 0;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-backface-visibility: hidden;
}

.nav_btn {
  appearance: none;
  background: none;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.nav_btn > svg {
  width: 100%;
  height: 100%;
  fill: var(--text-clr);
  transition: 250ms ease-in;
  -webkit-transition: 250ms ease-in;
  -moz-transition: 250ms ease-in;
  -ms-transition: 250ms ease-in;
  -o-transition: 250ms ease-in;
}

.theme_icon {
  fill: #f59e0b;
}

.nav_btn:hover.nav_btn > svg {
  fill: var(--highlight-clr);
}

/* ----------------------------- */

a {
  color: inherit;
  text-decoration: none;
}

.svg_wrapper {
  display: flex;
}

.svg_icon {
  margin-right: 1rem;
  flex: 0 0 25px;
}

.text {
  font-size: var(--fs-500);
  font-weight: 300;
  position: relative;
  z-index: 10;
  line-height: 1.6rem;
  max-width: 30rem;
}

.text::before {
  position: absolute;
  left: -2.5rem;
  top: 5px;
}

.highlight {
  color: var(--highlight-clr);
  font-weight: 400;
}

.highlightnt {
  opacity: .7;
}


/* ABOUT */

.head_section {
  min-height: 100vh;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.typewriter {
  width: 100%;
  overflow: hidden;
  margin-top: 2.5rem;
  padding-left: calc(var(--padding) + 2rem);
  
  border: var(--inicials-border);

  transition: 150ms ease-out ;
  -webkit-transition: 150ms ease-out ;
  -moz-transition: 150ms ease-out ;
  -ms-transition: 150ms ease-out ;
  -o-transition: 150ms ease-out ;
}


h1 {
  font-size: var(--fs-850);
  font-weight: 500;
  margin-bottom: 2.8rem;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .05em;
}

h2 {
  color: var(--highlight-clr);
  font-size: var(--fs-900);
  font-weight: 300;
}

h1::before {
  content: "[";
  margin-right: 1rem;
  color: var(--highlight-clr);
  animation: opacity 2s infinite;
  -webkit-animation: opacity 2s infinite;
}

h1::after {
  content: "]";
  margin-left: 1rem;
  color: var(--highlight-clr);
  animation: opacity 2s infinite;
  -webkit-animation: opacity 2s infinite;
}



.box {
  position: relative;
  width: 400px;
  height: 120px;
  transform-style: preserve-3d;
  animation: rotate 10s infinite 2s;
  -webkit-animation: rotate 10s infinite;
}

.box > div {
  position: absolute;
  top: -50px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front {
  position: relative;
  transform: translateZ(100px);
  display:flex; 
  flex-direction: column; 
}

.back > p {
  font-size: var(--fs-700);
  font-weight: 400;
}

.back { 
  transform: translateZ(-100px) rotateZ(180deg) rotateY(180deg);
 }

.right { 
  transform: rotateY(90deg) translateZ(100px);
}

.left { 
  transform: rotateY(-90deg) translateZ(100px);
}

.top { 
  transform: rotateX(90deg) translateZ(100px);
  -webkit-transform: rotateX(90deg) translateZ(100px);
   -moz-transform: rotateX(90deg) translateZ(100px); 
   -ms-transform: rotateX(90deg) translateZ(100px); 
   -o-transform: rotateX(90deg) translateZ(100px); 
}

.bottom { 
  transform: rotateX(-90deg) translateZ(100px); }

  @keyframes rotate {
    0% { transform: rotateX(0); }
    10% { transform: rotateX(0); }
    20% { transform: rotateX(0); }
    30% { transform: rotateX(180deg); -webkit-transform: rotateX(180deg); -moz-transform: rotateX(180deg); -ms-transform: rotateX(180deg); -o-transform: rotateX(180deg); }
    40% { transform: rotateX(180deg); }
    50% { transform: rotateX(180deg); }
    60% { transform: rotateX(180deg); }
    70% { transform: rotateX(180deg); }
    80% { transform: rotateX(180deg); }
    90% { transform: rotateX(180deg); }
    100% { transform: rotateX(360deg); }
  }

.divider {
  width: calc(100% - var(--padding) - 30px);
  height: 1px;
  max-width: 30rem;
  margin: 2.5rem 0;
  margin-left: calc(var(--padding) + var(--ico-margin));
  background: var(--highlight-clr);
  opacity: .5;
}

.hide {
  display: block;
}

/* -------------------------------------- */


/* SKILLS */
.skills_article {
  display: flex;
  flex-direction: column;
  gap: 2rem;  

  min-height: 60vh;
  padding-top: 3rem;
}

.skills_heading {
  position: relative;
  font-size: var(--fs-700);
  font-weight: 400;
  margin-top: 2rem;
}


.icons_container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(2.4rem, 3vw));
  gap: .3rem;

  margin-top: 1rem;
  /* margin-left: calc(var(--padding) + var(--ico-margin)); */

}

.ico_wrapper {
  display: flex;
  position: relative;
  justify-content: center;
}


.icon_name {
  position: absolute;
  top: -1.8rem;
  padding: .1rem .6rem;
  background: var(--text-clr);
  color: var(--bg-primary);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.skills_icon {
  width: 100%;
  max-width: 6rem;
}

/* PROJECTS */

.section-2 {
  padding: 5rem 2rem;
}

.project_container {
  display: flex;
  border: 2px outset var(--text-clr);
  cursor: pointer;
  max-width: 50rem;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  overflow: hidden;
}

.reversed {
  flex-direction: row-reverse;
}

:not(.reversed) > .project_info {
  margin-left: .5rem;
} 

.project_container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  /*border: 2px solid var(--text-clr);
  */
}

.project_image {
  max-width: 50%;
}

.project_info {
  max-width: 50%;
  padding: .5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.created_with {
  display: none;
  color: var(--highlight-clr);
}

.shown_created_with {
  color: var(--highlight-clr);
  margin-bottom: 1rem;
  display: block;
}

.project_container:hover .project_image {
  filter: blur(0px) brightness(.8);
  -webkit-filter: blur(0px) brightness(.8);
  transition: filter 250ms ease;
  -webkit-transition: filter 250ms ease;
  -moz-transition: filter 250ms ease;
  -ms-transition: filter 250ms ease;
  -o-transition: filter 250ms ease;
}

.projects_top_wrapper {
  margin-bottom: 1.5rem;
} 

.projects_text {
  margin-top: 2rem;
  font-weight: 600;
}

.projects_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.shown_project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  max-width: 30rem;
  max-height: 90%;
  z-index: 50;
  overflow: scroll;

  transition: 400ms ease;
  -webkit-transition: 400ms ease;
  -moz-transition: 400ms ease;
  -ms-transition: 400ms ease;
  -o-transition: 400ms ease;

  border: 1px solid var(--text-clr);
  cursor: pointer;
  animation: bounceIn 500ms ease-in-out;
  -webkit-animation: bounceIn 500ms ease-in-out;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.shown_project::-webkit-scrollbar {
  display: none;
}

.shown_project_name {
  font-size: var(--fs-700);
  text-align: center;
  background: var(--bg-primary);
}

.shown_project_bottom_container {
  font-size: var(--fs-600);
  padding: 1rem;
  font-weight: 300;
  background: var(--bg-primary);
}

.project_name {
  color: var(--text-clr);
  font-size: var(--fs-500);
  margin-bottom: .5rem;
}

.project_img {
  width: 101%;
  height: 101%;
  position: relative;
  top: -1px;
}

.project_bottom_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: .5rem;
  font-size: .65rem;
  font-weight: 300;
}


.project_links_container {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-400);
  padding-top: 1rem;
  border-top: 1px solid var(--text-clr);
}

.project_links_container > a {
  text-decoration: underline;
}

.link_ico {
  vertical-align: middle;
  margin-right: .5rem;
  width: 1.1rem;
}

.overlay_page {
  border-radius: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  background: #000000b0;
  height: 100vh;
  -webkit-backface-visibility: hidden;
}

/* ----------------------------------------- */


 /* BOTTOM */
.socials {
  z-index: 100;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5rem;

}

.socials_icon {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  transition: 250ms ease-in-out;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -ms-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  opacity: .8;
  cursor: pointer;
}

.socials_icon:hover {
  filter: drop-shadow(1px 1px 3px rgba(177, 177, 177, 0.632));
  -webkit-filter: drop-shadow(1px 1px 3px rgba(177, 177, 177, 0.632));
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  opacity: 1;
}

.confirmation_box {
  position: absolute;
  padding: .2rem .5rem;
  background: var(--text-clr);
  font-size: .6rem;
  border-radius: .3rem;
  top: 1rem;
  left: 7.5rem;
  color: var(--bg-primary);
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3rem;

  padding-top: 3rem;
  border-top: 1px solid var(--text-clr);
}

.footer_socials {
  display: flex;
  gap: .5rem
}

.footer_socials_icon {
  width: 3rem;
  transition: 500ms ease;
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -ms-transition: 500ms ease;
  -o-transition: 500ms ease;
}

.footer_socials_icon:hover {
  filter: drop-shadow(0px -5px 0px lightslategray);
  -webkit-filter: drop-shadow(0px -5px 0px lightslategray);
}

.copyright {
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: .3;
}


/* MISC */



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes bounceIn {
  0% {
    opacity: 0;
    /*prev-90deg*/transform: scale(.3) rotate(-100deg);
    -webkit-transform: scale(.3) rotate(-100deg);
    -moz-transform: scale(.3) rotate(-100deg);
    -ms-transform: scale(.3) rotate(-100deg);
    -o-transform: scale(.3) rotate(-100deg);
}
 50% {
    opacity: 1;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
 70% {
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}
 100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}


@media (min-width: 600px) {
  .typewriter {
    left: calc(var(--padding) + 2.5rem);
    width: fit-content;
    top: 6rem;
  }

  h2 {
    font-size: var(--fs-900);
  }

  h1 {
    font-size: var(--fs-900);
  }

  .text {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .wave {
    height: 250px;
  }

  .section_trans_primary {
    height: 132px;
  }

  .section_trans_secondary {
    height: 160px;
  }

  .skills_article {
    padding-top: unset;
  }

  .projects_wrapper {
    justify-content: start;
    grid-template-columns: repeat(auto-fit,minmax(10rem,20rem));
    align-items: stretch;
  }

  .project_container:hover {
    transform: translateY(-.5rem);
    -webkit-transform: translateY(-.5rem);
    -moz-transform: translateY(-.5rem);
    -ms-transform: translateY(-.5rem);
    -o-transform: translateY(-.5rem);
}
  
  .project_info {
    padding: 1.5rem;
  }

  .project_image {
    filter: blur(1px) brightness(.5);
    -webkit-filter: blur(1px) brightness(.5);
  }

  .created_with {
    display: unset;
  }

  .shown_project_name {
    font-size: var(--fs-850);
  }

  .shown_project_info {
    font-size: var(--fs-700);
  }

  .project_links_container {
    font-size: var(--fs-600);
  }

  .shown_projects_text {
    max-width: 75%;
}

  .projects_top_wrapper {
    text-align: left;
    font-size: 140%;
  }

  .project_bottom_container, .project_name {
    font-size: 1.2rem;
  }

  .confirmation_box {
    top: 1.25rem;
    left: 8.9rem;
  }

  .nav_btn {
    width: 2.5rem;
    height: 2.5rem;
  }

  .socials_icon {
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 1000px) {

  article {
    padding: 3rem;
  }

  .nav_btn {
    width: 3rem;
    height: 3rem;
  }

  .socials_icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .box {
    width: 500px;
  }

  .typewriter {
    margin-top: 6rem;
    margin-left: calc(var(--padding) + 2rem);
    padding: 2rem 3.5rem;
  }

  h1 {
    font-size: 3rem;
  }

  .back > p {
    font-size: 3rem;
  }

  .about {
    flex-direction: row;
  }

  .skills_article {
    flex-direction: row;
  }

  .confirmation_box {
    top: 1.5rem;
    left: 10.5rem;
  }

  .projects_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project_name {
    font-size: 1.5rem;
  }

  .project_info_text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .section_trans_primary, .section_trans_secondary {
    display: none;
  }

  .head_section {
    margin-bottom: 2rem;
  }
}